.dark ion-content {
    --ion-background-color:#222831;
}

.light ion-content {
    --ion-background-color:#EEEEEE;
}

ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}