:root {
    --ion-safe-area-top: 2.5rem;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --ion-background-color: #EEEEEE;
}

.dark {
    --ion-background-color: #222831;
}

.light {
    --ion-background-color: #EEEEEE;
}

ion-content {
    --background: var(--ion-background-color);
}

ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

.safe-area-padding-top {
    padding-top: calc(var(--safe-area-inset-top) + 1rem);
}

.safe-area-padding-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1.5rem);
}

.no-underline {
    text-decoration: none!important;
}

/*--------- Desactivar estilos de ionic ---------*/
ion-tab-button::part(native) {
    text-decoration: none !important;
}