:root {
    --ion-safe-area-top: 2.5rem;
    --safe-area-inset-top: env(safe-area-inset-top);
}

.dark ion-content {
    --ion-background-color:#222831;
}

.light ion-content {
    --ion-background-color:#EEEEEE;
}

ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

.safe-area-padding {
    padding-top: calc(var(--safe-area-inset-top) + 1rem);
}